.about {
  /* SUB NAV */
}

.about nav.sub-nav {
  background-color: #dddddd;
  height: 48px;
  z-index: 150;
  text-align: center;
  /*&:after {
            content: url(/images/about/triangles/triangle-grey.png);
            position: absolute;
            margin: 60px 0 0 -278px;
        }*/
}

@media only screen and (max-width: 759px) {
  .about nav.sub-nav {
    max-width: 300px;
    display: flex;
    justify-content: space-evenly;
  }
  .about nav.sub-nav .opt {
    width: 50px;
  }
}

.about nav.sub-nav .opt {
  font-size: 12.8px;
  font-weight: bold;
  display: inline-block;
  height: 32px;
  width: 128px;
  margin: 8px 0;
  padding: 6.4px 0;
  text-decoration: none;
}

.about nav.sub-nav .opt a {
  color: #525252;
  text-decoration: none;
}

.about nav.sub-nav .active {
  /*background-color: #525252;
            color: #fff;*/
  text-decoration: none;
  /*&:after {
                content: url(/images/about/triangles/triangle-darkgrey-small.png);
                position: absolute;
                margin: 22px 0 0 -40px;
            }*/
}

.about nav.sub-nav .active a {
  /*color: white;*/
  text-decoration: none;
  cursor: pointer;
}

.about nav.sub-nav .active span {
  border-bottom: 3.2px solid #F28B02;
  padding-bottom: 3.2px;
}

.about .sub-nav-scrolled {
  position: fixed;
  max-width: 944px;
  width: 100%;
  top: 60.8px;
}

@media only screen and (max-width: 1239px) {
  .about .sub-nav-scrolled {
    max-width: 700px;
  }
}

@media only screen and (max-width: 759px) {
  .about .sub-nav-scrolled {
    max-width: 300px;
    display: flex;
    justify-content: space-evenly;
  }
  .about .sub-nav-scrolled .opt {
    width: 50px;
  }
}

.about .arrow {
  max-width: 73px;
}

.about .clients-section {
  margin: 35px 0;
}

@media screen and (min-width: 992px) and (max-width: 1239px) {
  .about #facts .box-element p.orange {
    font-size: 50px;
  }
}

.about #facts:focus, .about #people:focus, .about #clients:focus {
  outline: none;
}

.about #facts.sub-nav-clicked, .about #people.sub-nav-clicked, .about #clients.sub-nav-clicked {
  padding-top: 104px;
  margin-top: -104px;
}

.about #facts.main-nav-clicked, .about #people.main-nav-clicked, .about #clients.main-nav-clicked {
  padding-top: 152px;
  margin-top: -152px;
}

.about .mainWrapper .blocksWrapper .blockCol .block .icon {
  width: auto !important;
}

.about .grey {
  background-color: #dddddd;
  width: 100%;
  min-height: 32px;
  text-align: center;
  padding: 12px 0;
}

.about .dark-grey {
  background-color: #525252;
  width: 100%;
  min-height: 32px;
  text-align: center;
}

.about .dark-grey .title {
  color: #ffffff;
  padding: 20px 0;
  margin-bottom: 16px;
}

.about .dark-grey .icon {
  max-height: 40px;
  width: auto;
}

.about .dark-grey .icon-text {
  color: #ffffff;
  font-size: 16.8px;
  margin: 20px 0 36px 0;
  text-align: center;
}

.about .orange {
  background-color: #f28b00;
}

.about .orange .brand-title {
  margin: 20px 0;
}

.about .dark-grey {
  background-color: #515153;
}

.about .dark-grey .testimonial .title {
  margin: 16px 0 0px 0;
}

.about .orange, .about .dark-grey {
  width: 100%;
  min-height: 32px;
  text-align: center;
}

.about .orange h2, .about .dark-grey h2 {
  color: white;
  font-weight: bold;
  padding: 0 0 12px 0;
}

.about .orange .testimonial, .about .dark-grey .testimonial {
  font-size: 16.8px;
  color: white;
}

.about .orange .testimonial .quote, .about .dark-grey .testimonial .quote {
  max-width: 600px;
  margin: 0 auto;
}

.about .orange .testimonial .name, .about .dark-grey .testimonial .name {
  margin: 20px 0 36px 0;
}

.about .orange .last, .about .dark-grey .last {
  margin-bottom: 16px;
}

.about .white {
  min-height: 32px;
  text-align: center;
  background-color: transparent;
  /* Image hover effect */
}

.about .white div.image-container {
  margin: 16px auto 64px auto;
  width: 220px;
}

.about .white div.image-container div.imageBox {
  position: relative;
  overflow: hidden;
}

.about .white div.image-container div.imageBox img {
  width: 100%;
  transition: .5s;
}

.about .white div.image-container div.imageBox div.textBox {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #525252;
  transition: .5s;
  /*&:before {
                        content: url(/images/about/triangles/triangle-darkgrey.png);
                        top: -22px;
                        left: 100px;
                        position: absolute;
                        transform: rotate(180deg);
                    }*/
}

.about .white div.image-container div.imageBox div.title {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  left: 15px;
  color: #fff !important;
  font-size: 12.8px;
  font-weight: bold;
}

.about .white div.image-container div.imageBox div.subTitle {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 45px;
  left: 15px;
  color: #fff;
  font-size: 16px;
}

.about .white div.image-container div.imageBox div.text {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 85px;
  left: 15px;
  right: 15px;
  color: #fff;
  font-size: 12.8px;
  text-align: left;
}

@media screen and (min-width: 992px) and (max-width: 1239px) {
  .about .white div.image-container div.imageBox {
    width: 230px;
  }
  .about .white div.image-container div.imageBox div.text {
    font-size: 15px;
  }
}

.about .white div.image-container div.imageBox:hover .textBox {
  top: 0;
  background: rgba(82, 82, 82, 0.9);
}

.about .white div.image-container div.imageBox:hover img {
  transform: scale(1.2);
}

.about .white .title {
  padding: 16px 0;
  font-weight: 100;
  color: #525252 !important;
}

.about .white p {
  font-size: 12.8px;
  padding: 0 0 20px 0;
  max-width: 520px;
  text-align: center;
  margin: 0 auto;
}

.about .white .box-element {
  background-color: #eaeaea;
  min-height: 144px;
  max-width: 176px;
  margin: 20px auto 48px auto;
}

@media only screen and (max-width: 759px) {
  .about .white .box-element {
    margin: 10px auto 28px auto;
  }
}

.about .white .box-element .top {
  font-size: 12.8px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 16px 0 0 0;
}

.about .white .box-element .orange {
  background-color: #eaeaea;
  color: #f28b00;
  font-weight: bold;
  font-size: 48px;
  line-height: 80px;
  margin: 0;
  padding: 0;
}

.about .white .box-element .bottom {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 20px 0;
}

.about .white .profile-image {
  margin: 10px 0 45px 0;
}

.about .white .banner {
  margin: 0;
}

.about .white .client-logo {
  padding: 25px 0;
}

.about .arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 73px;
  max-height: 20px;
}

.about .bottom .block {
  margin-top: 0 !important;
}

.about #contact {
  padding: 12px;
}

.about #contact .btn {
  padding-bottom: 2.4px;
  padding-top: 2.4px;
  color: #f28b00;
  background-color: #fff;
  width: fit-content;
  border-radius: 2px;
}

.about #contact .btn:hover {
  color: #fff;
  background-color: #f28b00;
  border: 0.8px solid #fff;
}

.about #contact #contactUsModal h2 {
  color: #525252;
}

.about #contact #contactUsModal label {
  font-size: 14px;
}

.about #contact #contactUsModal #contactClose, .about #contact #contactUsModal #contactSave {
  color: #fff;
}

.about #contact #contactUsModal #contactSave {
  background-color: #f28b00;
}

.about #contact #contactUsModal #contactSave:hover {
  background-color: #fff;
  color: #f28b00;
  border: 1px solid #f28b00;
}

.about #contact #contactUsModal #contactClose {
  float: left;
  background-color: #515151;
}

.about #contact #contactUsModal #contactClose:hover {
  background-color: #fff;
  color: #66665d;
  border: 1px solid #66665d;
}

.about #contact #contactUsModal textarea {
  height: 100px;
  resize: none;
}

.about #contact #contactUsModal .modal-header {
  border-bottom: none;
}

.about #contact #contactUsModal .modal-footer {
  border-top: none;
}

@media screen and (max-width: 759px) {
  .about .mobile-no {
    display: none !important;
  }
}
