﻿.home {
    .block {
        .content {
            h1 {
                font-size: 0.8*22px;
                color: white !important;
            }

            h2 {
                font-size: 0.8*22px;
                color: white;
            }

            h2.caps {
                font-size: 0.8*13px;
                color: white;
            }
        }
    }
}

@media (max-width: 759px) {
    .home {
        .block {
            .content {
                h1 {
                    font-size: 16px;
                    color: white !important;
                }

                h2 {
                    font-size: 16px;
                    color: white;
                }

                h2.caps {
                    font-size: 11px;
                    color: white;
                }
            }
        }
    }
}
