﻿.work {

    .strong {
        color: #fff;
    }
    .content .web-links a{
       color: #f28b00;
        opacity: 1;
        position: relative;
        &:hover{
            text-decoration: underline;
            opacity: 1;
        }
    }
    #contact {
        padding: 15px;

        .btn {
            padding-bottom: 3px;
            padding-top: 3px;
            color: #f28b00;
            background-color: #fff;
            width: fit-content;
            border-radius: 2px;
        }

        .btn:hover {
            color: #fff;
            background-color: #f28b00;
            border: 1px solid #fff;
        }

        #contactUsModal {


            h2 {
                color: #525252;
            }

            label {
                font-size: 14px;
            }

            #contactClose, #contactSave {
                color: #fff;
            }

            #contactSave {
                background-color: #f28b00;
            }

            #contactSave:hover {
                background-color: #fff;
                color: #f28b00;
                border: 1px solid #f28b00;
            }

            #contactClose {
                float: left;
                background-color: #515151;
            }

            #contactClose:hover {
                background-color: #fff;
                color: #66665d;
                border: 1px solid #66665d;
            }

            textarea {
                height: 100px;
                resize: none;
            }

            .modal-header {
                border-bottom: none;
            }

            .modal-footer {
                border-top: none;
            }
        }
    }
}
