﻿/* Bootstrap Import */
@import "bootstrap/_bootstrap.scss";

/* Generic Imports */
@import "helpers/normalize";
@import "helpers/mixins";
@import "helpers/settings";
@import "helpers/layout";
@import "helpers/font";
@import "helpers/font-awesome/scss/font-awesome";
@import "bourbon/bourbon";
@import "helpers/header";
@import "helpers/footer";
@import "helpers/text";
@import "helpers/custom-grid";
@import "helpers/_components.scss";
@import "helpers/_animate.scss";

/* Page SASS Imports */
@import "helpers/pages/_home.scss";
@import "helpers/pages/_about.scss";
@import "helpers/pages/_expertise.scss";
@import "helpers/pages/_work.scss";
@import "helpers/pages/_contact.scss";

@include normalize();

@include respond-to(small-max) {
    @include layout($layout-sizes-small, $block-sizes-small);
}

@include respond-to(medium) {
    @include layout($layout-sizes-medium, $block-sizes-medium);
}

@include respond-to(large) {
    @include layout($layout-sizes-large, $block-sizes-large);
}

/* Fix the height jump */
html {
    overflow-y: scroll;
}

body {
    background-color: white;
    margin: 0;
}

.home,
.work,
.about,
.expertise,
.contact {

    p {
        margin: 0;
    }

    .main {
        background-color: get-key($colours, white);
        margin: 0 auto;
    }

    .mainWrapper {
        background-color: get-key($colours, white);
        margin: 0 auto;
        display: flex;
        align-items: center;
        min-height: 100vh;
        flex-direction: column;

        .blocksContent,
        .blocksWrapper {
            flex: 1;

            .blockMainRow,
            .blockRow {
                display: flex;
            }

            .blockCol {
                display: flex;
                flex-flow: column nowrap;

                .block {
                    @include respond-to(medium-max) {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .blockNum-17 {
            display: none;

            @include respond-to(medium-max) {
                display: block;
            }

            @include respond-to(small-max) {
                display: none;
            }
        }

        .masthead {
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            height: 100%;
            /*parallax*/
            /*background-size: 100% 100%;
            background-attachment: fixed;
            background-position: top left;*/
        }

        .project-filter {
            height: 100%;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;
                height: 100%;

                li {
                    padding-left: 10px;

                    @include respond-to(medium) {
                        padding-left: 20px;
                    }

                    &:first-of-type {
                        padding-left: 0;
                    }
                }
            }
        }
    }

    .content {
        box-sizing: border-box;
        position: relative;
        padding: 10px;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        background-size: 100% 100%;
        background-position: center;

        h1 {
            margin: 0;
        }

        h2 {
            margin: 0;

            &.caps {
                margin-bottom: 20px;
            }
        }

        .plusIcon {
            position: absolute;
            bottom: 10px;
            right: 10px;
            opacity: 0.5;
        }

        @include respond-to(medium) {
            padding: 0.8*20px;

            h1 {
                margin: 0;
            }

            h2 {
                margin: 0;

                &.caps {
                    margin-bottom: 0.8*20px;
                }
            }

            .plusIcon {
                bottom: 0.8*20px;
                right: 0.8*20px;
            }
        }

        .blockFooter {
            flex: 0;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 0;
                margin: 0;
            }
        }
    }
}

.home,
.work {

    .content {
        a {
            @include fillin;

            &:hover {
                opacity: .2;
            }
        }

        p {
            flex-grow: 1;
        }
    }
}

.project {
    .content {
        justify-content: center;
        flex-direction: row;

        &.textOnly {
            flex-direction: column;
            p{
                margin:.5rem;
            }
        }

        &.projectNavigation {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            .prev {
                /*width: 50%;*/
                cursor: pointer;
            }

            .next {
                cursor: pointer;
            }
        }
    }
}

.work,
.project,
.about,
.expertise,
.contact {
    .mainWrapper {
        .blocksWrapper {
            .middle {
                display: flex;
                flex-flow: column;

                .blockMainRow,
                .blockRow {
                    flex-flow: row wrap;

                    @include respond-to(medium) {
                        flex-flow: row nowrap;
                    }

                    @include respond-to(medium) {
                        &.centre {
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    .filtered-projects {
        display: none;
    }
}

.home {
    .mainWrapper {
        .blocksWrapper {
            .blockMainRow,
            .blockRow {
                flex-flow: row nowrap;
            }
        }
    }
}


/*.mainWrapper {
    .blocksWrapper {
        .middle {
            .blockMainRow {
                .blockCol {

                    .block {
                        @include respond-to(medium) {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        } 
    }
}*/

.contact,
.about,
.expertise {
    .content {

        .arthaus-social {

            ul {
                list-style: none;
                display: flex;
                flex-flow: row nowrap;

                li {
                    padding: 0 20px;
                    cursor: pointer;

                    &:first-of-type {
                        padding-left: 0;
                    }
                }
            }
        }

        h2 {
            padding: 10px 0;
        }
    }
}


.orange {
    background-color: get-key($colours, orange);
}

.blue {
    background-color: get-key($colours, blue);
}

.green {
    background-color: get-key($colours, green);
}

.teal {
    background-color: get-key($colours, teal);
}

.maroon {
    background-color: get-key($colours, maroon);
}

.dark-grey {
    background-color: get-key($colours, dark-grey);
}

.white {
    background-color: get-key($colours, white);
}

.arthaus-address {

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.arthaus-documents {
    background-color: #f5f5f5;
}

.arthaus-documents .row {
    padding: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.arthaus-documents .row:last-child {
    padding-bottom: 20px; 
}

.arthaus-documents .row > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tos-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*width: 100%;*/
}

.tos-content.icon-container {
    margin: 0 auto;
}

.arthaus-documents .btn, .arthaus-documents h4 {
    font-weight: 700;
    font-size: 17px;
}

.arthaus-documents .btn {
    padding-bottom: 3px;
    padding-top: 3px;
    color: #ffffff;
    width: fit-content;
}

.arthaus-documents .btn {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*.arthaus-documents img {
    height: 44px;
    margin: 0 auto;
}

.arthaus-documents img.credit-card {
    height: 35px;
}*/

.arthaus-terms-content { 
    padding: 0 0 30px 35px;
 
    p {
        font-size: 16px;
        padding: 10px 0;
    }
}

.arthaus-terms-and-conditions-container {
    padding-top: 30px;

    @media (min-width: 992px) {
        .terms-of-service-container {
            width: 80%;
            margin: 0 0 0 auto;
        }
    }

    @media (min-width: 760px) {
        .terms-of-service-container {
            width: 80%;
            margin: 0 auto;
        }
    }
}

.arthaus-documents hr {
    border-top: 1px solid #d5d5d5;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 90%;
}

#contact {
    padding: 15px;

    .btn {
        padding-bottom: 3px;
        padding-top: 3px;
        color: #f28b00;
        background-color: #fff;
        width: fit-content;
        border-radius: 2px;
    }

    .btn:hover {
        color: #fff;
        background-color: #f28b00;
        border: 1px solid #fff;
    }

    #contactUsModal {
        h2 {
            color: #525252;
        }

        label {
            font-size: 14px;
        }

        #contactClose, #contactSave {
            color: #fff;
        }

        #contactSave {
            background-color: #f28b00;
        }

        #contactSave:hover {
            background-color: #fff;
            color: #f28b00;
            border: 1px solid #f28b00;
        }

        #contactClose {
            float: left;
            background-color: #515151;
        }

        #contactClose:hover {
            background-color: #fff;
            color: #66665d;
            border: 1px solid #66665d;
        }

        .telephone-optional-container {
            .telephone-label {
                float: left
            }

            .optional-label {
                float: right;
                color: #f28b00;
                text-transform: uppercase;
            }
        }

        textarea {
            height: 100px;
            resize: none;
        }

        .modal-header {
            border-bottom: none;
        }

        .modal-footer {
            border-top: none;
        }
    }
}

.bottom {
    .block {
        margin-top: 0 !important;
    }
}

.row:before, row:after {
    display: inline-block;
}