﻿/* Spacers */

.t-spacer35 {
    margin-top: 0.8*35px;
    display: inline-block;
}

.b-spacer35 {
    margin-top: 0.8*35px;
    display: inline-block;
}


/* Parallax */
$parallaxHeight: 350px;
.parallax {
    // width:994px;
  margin:0 auto;
  display:block;
  position:relative;
  height:$parallaxHeight;
  overflow:hidden;
  //background-color:#525252;
  background-image: url('/images/about/parallax/parallax-bg-resize.png');
  background-position: center;
  background-size: cover;
  z-index:0;
//   border:1px solid black;
//   box-shadow:5px 2px #000 inset;

    .text-container{
        position: absolute;
        font-family: "LatoWeb";
        top:-100px;
       // border: 2px solid red;
        height:700px;
        left:50%;
        transform: translateX(-50%);
        //background-color: aquamarine;
        width:100%;
        z-index: 3;
        //opacity: .5;
        @media only screen and (max-width: 1239px) {
            height: 400px;
            top:0px;
         }
 
         @media only screen and (max-width: 759px) {
            height: 350px;
            top: 100px;
         }
        ul{
            margin:0 auto;
            display: flex;
            padding:0;
            justify-content: space-evenly;
        }
        ul li{
            list-style: none;
            font-size:4rem;
            color:white;
            //transition: .1s;
            @media only screen and (max-width: 1239px) {
               font-size: 3rem;
            }
    
            @media only screen and (max-width: 759px) {
                font-size: 1.5rem;
            }
        }
        ul li:nth-child(2n+1){
            //color:sandybrown;
            position: relative;
            margin-top: 400px;
            @media only screen and (max-width: 1239px) {
                margin-top: 200px;
             }
     
             @media only screen and (max-width: 759px) {
                 margin-top: 100px;
             }
        }
        ul li:nth-child(2n){
            //color:aquamarine;
            z-index: 1000;
           
        }
    }
    .graphic-container{
        position: absolute;
        top:0;
        left:50%;
        transform: translate(-50%,0);
        // background-color: pink;
        
        ul {
            margin:0;padding:0;
        }
        ul li p{
            list-style: none;
            height: 800px;
            position: absolute;
            width:944px; 
           top:-500px;
            left:50%;
            transform: translateX(-50%);
            //background-size: cover;
            
           
        }
        li #graphic1{
            // background-color:teal;
            background-image: url(/images/about/parallax/Delivery_Innovation.png);
            background-repeat: repeat;
            opacity: .3;
            @media only screen and (max-width: 759px) {
                background-image: url(/images/about/parallax/Delivery_Innovation_small.png);
            }
        }
        li #graphic2{
           background-image: url(/images/about/parallax/Experience_Creativity.png);
           opacity: .7;
           @media only screen and (max-width: 759px) {
            background-image: url(/images/about/parallax/Experience_Creativity_small.png);
        }
        }
        li #graphic3{
            background-image: url(/images/about/parallax/Pragmatism_Tech.png);
            opacity: .2;
            @media only screen and (max-width: 759px) {
                background-image: url(/images/about/parallax/Pragmatism_Tech_small.png);
            }
        }
    }
}














   

