/* Spacers */
.t-spacer35 {
  margin-top: 28px;
  display: inline-block;
}

.b-spacer35 {
  margin-top: 28px;
  display: inline-block;
}

/* Parallax */
.parallax {
  margin: 0 auto;
  display: block;
  position: relative;
  height: 350px;
  overflow: hidden;
  background-image: url("/images/about/parallax/parallax-bg-resize.png");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.parallax .text-container {
  position: absolute;
  font-family: "LatoWeb";
  top: -100px;
  height: 700px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 3;
}

@media only screen and (max-width: 1239px) {
  .parallax .text-container {
    height: 400px;
    top: 0px;
  }
}

@media only screen and (max-width: 759px) {
  .parallax .text-container {
    height: 350px;
    top: 100px;
  }
}

.parallax .text-container ul {
  margin: 0 auto;
  display: flex;
  padding: 0;
  justify-content: space-evenly;
}

.parallax .text-container ul li {
  list-style: none;
  font-size: 4rem;
  color: white;
}

@media only screen and (max-width: 1239px) {
  .parallax .text-container ul li {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 759px) {
  .parallax .text-container ul li {
    font-size: 1.5rem;
  }
}

.parallax .text-container ul li:nth-child(2n+1) {
  position: relative;
  margin-top: 400px;
}

@media only screen and (max-width: 1239px) {
  .parallax .text-container ul li:nth-child(2n+1) {
    margin-top: 200px;
  }
}

@media only screen and (max-width: 759px) {
  .parallax .text-container ul li:nth-child(2n+1) {
    margin-top: 100px;
  }
}

.parallax .text-container ul li:nth-child(2n) {
  z-index: 1000;
}

.parallax .graphic-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.parallax .graphic-container ul {
  margin: 0;
  padding: 0;
}

.parallax .graphic-container ul li p {
  list-style: none;
  height: 800px;
  position: absolute;
  width: 944px;
  top: -500px;
  left: 50%;
  transform: translateX(-50%);
}

.parallax .graphic-container li #graphic1 {
  background-image: url(/images/about/parallax/Delivery_Innovation.png);
  background-repeat: repeat;
  opacity: .3;
}

@media only screen and (max-width: 759px) {
  .parallax .graphic-container li #graphic1 {
    background-image: url(/images/about/parallax/Delivery_Innovation_small.png);
  }
}

.parallax .graphic-container li #graphic2 {
  background-image: url(/images/about/parallax/Experience_Creativity.png);
  opacity: .7;
}

@media only screen and (max-width: 759px) {
  .parallax .graphic-container li #graphic2 {
    background-image: url(/images/about/parallax/Experience_Creativity_small.png);
  }
}

.parallax .graphic-container li #graphic3 {
  background-image: url(/images/about/parallax/Pragmatism_Tech.png);
  opacity: .2;
}

@media only screen and (max-width: 759px) {
  .parallax .graphic-container li #graphic3 {
    background-image: url(/images/about/parallax/Pragmatism_Tech_small.png);
  }
}
