﻿/* Webfont: Lato-Regular */
@font-face {
    font-family: 'LatoWeb';
    src: url('/fonts/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('/fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Webfont: Lato-Light */
@font-face {
    font-family: 'LatoWebLight';
    src: url('/fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('/fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('/fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Webfont: Lato-Black */
@font-face {
    font-family: 'LatoWebBlack';
    src: url('/fonts/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
         url('/fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
         url('/fonts/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
