﻿.footer {
    display: flex;
    flex-flow: row nowrap;
    background-color: get-key($colours, dark-grey);
    color: get-key($colours, white);
    height: 100%;

    @include respond-to(medium) {
        display: flex;
    }

    a {
        color: get-key($colours, white);
        text-decoration: none;
    }

    div {
        flex: 1 1 auto;
    }

    .leftFooter {
        display: none;
        align-self: center;
        padding: 0.8*20px;
        font-size: 0.8*15px;
        text-align: left;

        @include respond-to(medium) {
            display: flex;
        }

        @include respond-to(small-max) {
            padding: 10px;
        }

        .arthaus-icon {
            box-sizing: border-box;
            margin-right: 0.8*20px;
            flex: 0 0 0.8*60px;
            background: url(../../images/footer/Arthaus-Logo-Badge.png) top center no-repeat;
        }
    }

    .rightFooter {
        display: flex;
        align-self: center;
        flex-flow: column nowrap;
        align-items: center;
        padding: 0.8*20px;

        @include respond-to(medium) {
            align-items: flex-end;
        }

        @include respond-to(small-max) {
            padding: 10px;
        }

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .arthaus-social {

            ul {

                li {
                    padding: 0 0.8*10px;
                    cursor: pointer;
                    font-size: 0.8*14px;

                    &:last-of-type {
                        padding: 0 0 0 0.8*10px;
                    }
                }
            }
        }

        .arthaus-terms {
            padding-top: 0.8*5px;
            font-size: 0.8*15px;

            ul {

                li {
                    padding: 0 0 0 0.8*10px !important;

                    &:last-of-type {
                        padding: 0;
                    }
                }
            }
        }

        @media (max-width: 759px) {
            .arthaus-terms {
                padding-top: 5px;
                font-size: 12px;
            }
        }

        .arthaus-copyright {
            padding-top: 0.8*5px;
            font-size: 0.8*11px !important;
        }
    }
}
