﻿// Layout Mixin
@mixin layout ($layout, $blocks) {

    $margin: get-key($layout, margin);

    .home,
    .work,
    .about,
    .expertise,
    .contact {

        .main {
            width: get-key($layout, main);
        }

        .mainWrapper {
            width: get-key($layout, mainWrapper);

            .blocksContent,
            .blocksWrapper {

                .block {
                    margin: $margin;

                    .content {
                        background-position: center;
                        background-size: 100% 100%;
                    }
                }

                .blockMainRow {
                    margin-left: -$margin;
                }

                .type-a {
                    @include output-layout-dimensions($blocks, a);
                }

                .type-b {
                    @include output-layout-dimensions($blocks, b);
                }

                .type-c {
                    @include output-layout-dimensions($blocks, c);
                }

                .type-d {
                    @include output-layout-dimensions($blocks, d);
                }

                .type-e {
                    @include output-layout-dimensions($blocks, e);
                }

                .type-f {
                    @include output-layout-dimensions($blocks, f);
                }

                .type-fa {
                    @include output-layout-dimensions($blocks, fa);
                }

                .type-g {
                    @include output-layout-dimensions($blocks, g);
                }

                .type-h {
                    @include output-layout-dimensions($blocks, h);
                }

                .type-i {
                    @include output-layout-dimensions($blocks, i);
                }

                .type-j {
                    @include output-layout-dimensions($blocks, j);
                }

                .type-ja {
                    @include output-layout-dimensions($blocks, ja);
                }

                .type-k {
                    @include output-layout-dimensions($blocks, k);
                }

                .type-l {
                    @include output-layout-dimensions($blocks, l);
                }

                .bottom {
                    margin-right: -$margin;
                    margin-bottom: 0;
                    margin-left: -$margin;
                }

                .top {
                    margin-right: -$margin;
                    margin-top: -$margin;
                    margin-left: -$margin;
                }
            }
        }
    }
}
