﻿$breakpoints: (
  'small'  : ( min-width:  310px ),
  'small-max'  : ( max-width: 759px ),
  'medium' : ( min-width:  760px ),
  'medium-max' : ( max-width:  1239px ),
  'large'  : ( min-width: 1240px )
);

/* generic sizes */
$block-sizes: (
    small-width: 145,
    small-height: 85,
    medium-width: 100,
    medium-height: 60,
    large-width: 100*0.8,
    large-height: 60*0.8
);

$gutter-sizes: (
    small: 10,
    medium: 20,
    large: 20*0.8
);

/* Spacing variables*/
$layout-sizes-small: (
    main: 320px,
    mainWrapper: 300px,
    margin: 5px
);

$layout-sizes-medium: (
    main: 740px,
    mainWrapper: 700px,
    margin: 10px
);

$layout-sizes-large: (
    main: 0.8*1220px,
    mainWrapper: 0.8*1180px,
    margin: 0.8*10px
);

/* array of block types to use to dynamically generate the sizes */
$block-types: a b c d e f fa g h i j ja k l;

/* block counts */
$block-count-small: (
    a-width: 2,
    a-height: 1,
    b-width: 1,
    b-height: 2,
    c-width: 2,
    c-height: 2,
    d-width: 1,
    d-height: 1,
    e-width: 2,
    e-height: 2,
    f-width: 2,
    f-height: 1,
    fa-width: 2,
    fa-height: 0.5, // half height
    g-width: 2,
    g-height: 2,
    h-width: 2,
    h-height: 1,
    i-width: 2,
    i-height: 0,
    j-width: 2,
    j-height: 0,
    ja-width: 2,
    ja-height: 0.5, // half height
    k-width: 2,
    k-height: 2,
    l-width: 2,
    l-height: 0
);

$block-count-medium: (
    a-width: 4,
    a-height: 2,
    b-width: 2,
    b-height: 4,
    c-width: 4,
    c-height: 4,
    d-width: 2,
    d-height: 2,
    e-width: 3,
    e-height: 3,
    f-width: 6,
    f-height: 1,
    fa-width: 6,
    fa-height: 0.5, // half height
    g-width: 6,
    g-height: 2,
    h-width: 6,
    h-height: 2, // adjusted from 3
    i-width: 4,
    i-height: 0,
    j-width: 4,
    j-height: 0,
    ja-width: 4,
    ja-height: 0.5, // half height
    k-width: 3,
    k-height: 3,
    l-width: 6,
    l-height: 0
);

$block-count-large: (
    a-width: 4,
    a-height: 2,
    b-width: 2,
    b-height: 4,
    c-width: 4,
    c-height: 4,
    d-width: 2,
    d-height: 2,
    e-width: 5,
    e-height: 5,
    f-width: 10,
    f-height: 1,
    fa-width: 10,
    fa-height: 0.5, // half height
    g-width: 10,
    g-height: 2,
    h-width: 10,
    h-height: 2, // adjusted from 5
    i-width: 8,
    i-height: 0,
    j-width: 6,
    j-height: 0,
    ja-width: 6,
    ja-height: 0.5, // half height
    k-width: 4,
    k-height: 4,
    l-width: 10,
    l-height: 0
);

/* generate the maps for the layouts */
$block-sizes-small: generate-sizes-map($block-types, $block-count-small, get-key($block-sizes,small-width), get-key($block-sizes,small-height), get-key($gutter-sizes,small));

$block-sizes-medium: generate-sizes-map($block-types, $block-count-medium, get-key($block-sizes,medium-width), get-key($block-sizes,medium-height), get-key($gutter-sizes,medium));

$block-sizes-large: generate-sizes-map($block-types, $block-count-large, get-key($block-sizes,large-width), get-key($block-sizes,large-height), get-key($gutter-sizes,large));

$colours: (
    orange: #f28b00,
    blue: #6a8aaa,
    green: #afb744,
    teal: #46a8a8,
    maroon: #8a5668,
    dark-grey: #66665d,
    white: #fff,
    background-grey: #999,
    black: #000
);
