﻿@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

body {
    /*font-family: 'Lato', sans-serif;*/
    font-family: "LatoWebLight";
    font-size: 62.5%;
}

.strong {
    font-weight: bold !important;
    color: #525252;
}

.home,
.work,
.about,
.expertise,
.contact {

    .mainWrapper {

        .content {
            color: get-key($colours, white);

            h1 {
                font-size: 1.5em;
                color: #525252;
            }

            h2 {
                font-size: 1.5em;
                /*color: #525252;*/

                &.caps {
                    font-size: 1.3em;
                    text-transform: uppercase;
                }
            }

            p {
                font-size: 1.1em;
                color: #525252;
            }

            .plusIcon {
                font-size: 3em;
            }
            // Generate CSS Rules for tabvar view and above
            @include respond-to(medium) {
                padding: 0.8*20px;

                h1 {
                    font-size: 0.8*2.2em;
                }

                h2 {
                    font-size: 0.8*22px;

                    &.caps {
                        font-size: 0.8*1.3em;
                        text-transform: uppercase;
                    }
                }

                p {
                    font-size: 0.8*1.6em;
                }

                .plusIcon {
                    font-size: 0.8*5em;
                    margin-bottom: -0.8*3px;
                }
            }
        }
    }
}

.project {

    .mainWrapper {

        .content {
            color: get-key($colours, black);

            p {
                /*font-size: 2.4em;*/
                font-size: 0.8*3.2em;
            }

            &.projectNavigation {
                color: get-key($colours, dark-grey);
                font-size: 0.8*3.5em;
            }
        }
    }
}

.contact,
.about,
.expertise {

    .mainWrapper {

        .content {
            color: get-key($colours, black);

            .arthaus-address {
                font-size: 0.8*1.6em;
            }

            .color-teal {
                color: get-key($colours, teal);
            }

            .arthaus-social {

                ul {

                    li {
                        a {
                            color: get-key($colours, teal);
                            font-size: 0.8*3.5em;
                        }
                    }
                }
            }
        }
    }
}

.mainWrapper {

    .header {
        /* Navigation text */
        nav {
            ul {
                li {
                    a:not(.home-link) {
                        font-family: "LatoWebLight";
                        color: get-key($colours, dark-grey);
                        font-size: 0.8*15px;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 700;

                        &.highlight {
                            padding-bottom: 0.8*4px;
                            border-bottom: 0.8*4px solid get-key($colours, orange);

                            &:hover {
                                color: get-key($colours, dark-grey);
                            }
                        }

                        &:hover {
                            padding-bottom: 0.8*4px;
                            border-bottom: 0.8*4px solid get-key($colours, orange);
                        }
                    }

                    .active {
                        padding-bottom: 0.8*4px;
                        border-bottom: 0.8*4px solid get-key($colours, orange);
                    }
                }
            }
        }
    }
    /* Footer text */
    .footer {
        color: get-key($colours, white);
        font-size: 0.8*1.3em;

        a {
            color: get-key($colours, white);
            text-decoration: none;

            &:hover {
                color: #f28b00;
            }
        }

        .arthaus-copyright {
            font-size: 0.8*1.1em;
        }

        .arthaus-social {
            ul {
                li {
                    a {
                        font-size: 0.8*2.2em;
                    }
                }
            }
        }
    }

    .masthead {
        color: get-key($colours, white);

        h1 {
            font-family: "LatoWebBlack";
            font-size: 4em;

            @include respond-to(medium) {
                font-size: 8em;
            }

            @include respond-to(large) {
                font-size: 0.8*12em;
            }

            margin: 0;
            padding: 0;
        }

        h2 {
            font-family: "LatoWeb";
            font-size: 1.2em;

            @include respond-to(medium) {
                font-size: 2em;
            }

            @include respond-to(large) {
                font-size: 0.8*2.7em;
            }

            margin: 0;
            padding: 0;
        }
    }

    .project-filter {
        color: get-key($colours, black);
        font-size: 1em;

        @include respond-to(medium) {
            font-size: 0.8*2em;
        }

        text-transform: uppercase;

        ul {
            li {
                font-weight: bold;
                cursor: pointer;

                &:first-of-type {
                    cursor: default;
                    font-weight: normal;
                }
            }
        }
    }
}
